
*{
  margin: 0px;padding:0px
}

#display{
    /* display: grid;grid-template-columns: repeat(4,1fr);gap:20px; */
    margin-top: 20px;
}
.card{
    height:auto;
    width:50%;
    border:2px solid black;
    margin: auto;text-align: center;font-size: 30px;
}
.card>img{
    width:100%;
}
input{
  width:30%;
  display: block;margin: auto;
}
#inputBox{
  height:200px;
  width:30%;
  border:1px solid black;
  border-top:none;
  margin: auto;
  overflow: scroll;
  
}#inputBox>p{
  margin-bottom: 3px;
}
#inputBox>p:hover{
  cursor:pointer;
}
#navbar+h1{
  color:teal;
  text-align: center;
  margin-top: 10px;
}