
*{
    margin: 0px;
    padding:0px;
  
   
}
h1{
    text-align: center;
}
form{
    height:200px;
    width:30%;
    border:2px solid black;
    display: block;
    margin: auto;
    background-color: brown;
}
input{
    height:20px;
    width:80%;
    display: block;
    margin: auto;
    margin-top: 15px;
}
button{
    display: block;margin: auto;margin-top: 20px;
}